.ihagi_header_logo{
    margin: 2rem 0;
    font-family: 'Noto Serif KR', serif;
}

.ihagi_header_button{
    margin-bottom: 2rem;
    font-family: 'Noto Serif KR', serif;
    font-size: 0.9rem;
}

.ihagi_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Noto Serif KR', serif;
}

.ihagi_footer_button{
    margin-top: 2rem;
    font-family: 'Noto Serif KR', serif;
    font-size: 0.9rem;
}

.mw-500 {
    max-width: 500px;
    padding:  1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B{
    font-family: "NanumSquareB", cursive;
}